.container {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	margin-top: 3rem;
	padding-bottom: 2rem;

	a {
		font-size: 1.6rem;
		color: var(--light-blue);
		text-decoration: none !important;
		position: relative;

		span {
			height: 2px;
			background-color: #fff;
			position: absolute;
			bottom: -4px;
			left: 0px;
			width: 0px;
			transition: width 200ms ease-in-out;
		}

		&:hover {
			color: #fff;

			span {
				width: 100%;
			}
		}
	}

	.tweetArticle {
		font-size: 1.6rem;
		color: var(--light-blue);
		text-decoration: none !important;
		position: relative;

		span {
			height: 2px;
			background-color: #fff;
			position: absolute;
			bottom: -4px;
			left: 0px;
			width: 0px;
			transition: width 200ms ease-in-out;
		}

		&:hover {
			color: #fff;

			span {
				width: 100%;
			}
		}
	}
}
