@import "#/styles/globals.module.scss";

.banner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--light-brown);
	padding: 8rem 2rem 2rem;
	position: relative;
	width: 100%;
	z-index: var(--z-index-banner);

	@media (min-width: $xl) {
		padding: 5rem 5rem;
	}

	.textWrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (min-width: $xl) {
			justify-content: center;
		}

		h1 {
			letter-spacing: -2px;
			text-transform: uppercase;
			line-height: 0.8em;
			font-family: "sf-pro-medium";
			font-weight: 500;
			display: flex;
			position: relative;
			font-size: 5rem;

			@media (min-width: $md) {
				font-size: 9rem;
			}

			@media (min-width: $xl) {
				font-size: clamp(50px, 22vh, 153px);
			}

			@media (min-width: $xxl) {
				font-size: clamp(50px, 12.5vw, 300px);
			}

			@media (min-width: $xl) and (max-height: 700px) {
				font-size: clamp(50px, 22vh, 153px);
			}

			&::selection {
				background-color: var(--black);
			}

			.lineWrapper {
				position: relative;

				.letterWrapper {
					overflow: hidden;
					display: inline-flex;
					position: relative;
					z-index: 1;

					.letter {
						transform: translateX(-120%);

						&::selection {
							background: var(--black);
							color: var(--light-brown);
						}
					}
				}

				.bg {
					background: linear-gradient(to right, black, var(--brown));
					position: absolute;
					width: 0%;
					height: 100%;
					left: 0px;
					top: 0px;
				}
			}
		}

		.firstPair {
			h1 {
				&:last-child {
					color: var(--light-brown);

					@media (min-width: $xl) {
						margin-left: 10vw;
					}
				}
			}
		}

		.secondPair {
			h1 {
				&:first-child {
					justify-content: flex-end;

					@media (min-width: $xl) {
						justify-content: flex-start;
						margin-left: 20vw;
					}
				}
				&:last-child {
					color: var(--light-brown);
					justify-content: flex-end;

					@media (min-width: $xl) {
						display: flex;
					}
				}
			}
		}
	}

	.bottom {
		position: absolute;
		left: 2rem;
		bottom: 1.5rem;
		opacity: 0;

		@media (min-width: $xl) {
			left: 5rem;
			bottom: 5rem;
		}
	}
}
