.ldsRing {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 2.6rem;
	height: 2.6rem;
}
.ldsRing div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	border: 2px solid var(--black);
	border-radius: 50%;
	animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--black) transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
	animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
	animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes ldsRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
