@import "#/styles/globals.module.scss";

.container {
	.radialGradient {
		background: var(--dark-radial-gradient);
		position: fixed;
		height: 100vh;
		width: 100vw;
	}

	.contentWrapper {
		z-index: 1;
		position: relative;

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// max-width: 1400px;
			padding: 5rem 3vw 0px;
			margin: auto;
			margin-bottom: 8rem;

			.navlinks {
				display: flex;
				gap: 4rem;

				a {
					font-size: 2rem;
					color: #fff;
					text-decoration: none;
					font-weight: 700;
					font-family: "sf-pro-regular";
				}
			}
		}

		.content {
		}

		.footer {
			border-top: 1px solid rgba(255, 255, 255, 0.5);

			// margin: 0px 2rem;
			padding: 2rem 0px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			color: rgba(255, 255, 255, 0.5);

			@media (min-width: $md) {
				flex-direction: row;
				height: 60px;
				margin: 0px 2rem;
				padding: 0px;
			}
			@media (min-width: $lg) {
				margin: 0px 6rem;
			}

			ul {
				list-style: none;
				display: flex;
				align-items: center;
				height: 100%;
				margin-bottom: 2rem;

				@media (min-width: $md) {
					margin-bottom: 0px;
				}

				li {
					margin-right: 2rem;

					a {
						text-decoration: none;
						text-transform: uppercase;
						color: rgba(255, 255, 255, 0.5);
						font-size: 1.6rem;
					}
				}
			}

			p {
				font-size: 1.6rem;
				// &::selection {
				// 	background: #fff;
				// 	color: var(--light-brown);
				// }
			}
		}
	}
}
