@import "#/styles/globals.module.scss";

.container {
    width: 100%;
    padding-bottom: 20rem;
    // border: 1px solid red;
    position: relative;

    @media (min-width: $md) {
        margin: auto;
        max-width: var(--mini-desktop-max-width);
    }

    @media (min-width: $xxl) {
        max-width: var(--max-width);
    }

    .projectBox {
        background-color: red;
        width: 300px;
        height: 300px;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        transition: transform 200ms ease-in-out;
        transform-origin: center;

        .projectsWrapper {
            overflow: hidden;
            width: 300px;
            height: 300px;
            ul {
                transition: transform 200ms ease-in-out;

                li {
                    width: 300px;
                    height: 300px;

                    &:nth-child(1) {
                        background-color: green;
                    }
                    &:nth-child(2) {
                        background-color: yellow;
                    }
                    &:nth-child(3) {
                        background-color: pink;
                    }
                    &:nth-child(4) {
                        background-color: orange;
                    }
                    &:nth-child(5) {
                        background-color: purple;
                    }
                }
            }
        }

        .projectsBoxCircle {
            width: 100px;
            height: 100px;
            background-color: black;
            color: #fff;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .project {
        list-style: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--ash);

        &:first-child {
            border-top: 1px solid var(--ash);
        }

        a {
            display: flex;
            width: 100%;
            text-decoration: none;
            padding: 8rem 10rem;
            color: var(--ash);

            .projectTitle {
                font-size: 80px;
                font-family: "sf-pro-medium";
                transition: transform 200ms ease-in-out;
                cursor: pointer;
            }
        }

        &:hover {
            .projectTitle {
                transform: translateX(-20px);
                opacity: 0.5;
            }
        }
    }
}
