@import "#/styles/globals.module.scss";

.container {
    margin: auto;
    margin-bottom: 20vh;
    max-width: var(--max-width);
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: $md) {
        padding-top: 15vh;
    }

    .textWrapper {
        margin-bottom: 8.4rem;

        @media (min-width: $md) {
            width: 50%;
        }

        .paragraph {
            margin-bottom: 2.4rem;

            .textLine {
                color: var(--ash3);
                line-height: 2;
                font-weight: 600;
                letter-spacing: -0.015em;
                position: relative;
                overflow: hidden;
                font-size: 18px;
                font-family: "sf-pro-bold";

                @media (min-width: $md) {
                    font-size: 24px;
                }

                span {
                    display: block;
                    opacity: 0;
                    transform: translateY(40px) rotate(10deg) skewX(30deg);
                    transform-origin: left;
                    strong {
                        color: #fff;
                    }
                }
            }
        }
    }

    .imageWrapper {
        @media (min-width: $md) {
            display: flex;
            justify-content: flex-end;
        }

        .image {
            width: 100%;
            background-color: #28282b;
            height: 50vh;
            background-size: cover;
            background-position: center;
            @media (min-width: $md) {
                width: 50%;
            }
        }
    }
}
