.content {
    // border: 1px solid red;
    max-width: 900px;
    margin: 0px auto;
    padding: 0px 2rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
    color: var(--ash);

    section {
        margin-bottom: 4rem;

        h1,
        h2 {
            font-size: 3.6rem;
            margin-bottom: 2rem;
            font-family: "sf-pro-bold";
        }

        h1 {
            font-size: 4rem;
        }

        h2 {
            border-bottom: 1px solid var(--ash);
            padding-bottom: 2rem;
        }

        p {
            font-size: 1.8rem;
            line-height: 1.5;
            margin-bottom: 1rem;
            font-family: "sf-pro-regular";
        }

        li {
            font-size: 1.8rem;
            line-height: 1.5;
            margin-bottom: 1rem;
            font-family: "sf-pro-regular";
            display: flex;
            align-items: center;

            .circle {
                width: 6px;
                height: 6px;
                background-color: var(--ash3);
                display: flex;
                border-radius: 50%;
                margin-right: 2rem;
            }
        }
    }

    .title {
    }

    .image {
        height: 500px;
        margin-bottom: 6rem;

        background-size: cover;
        background-repeat: no-repeat;

        will-change: transform;
    }

    .about {
    }

    .tech {
        margin-bottom: 6rem;
        ul {
            list-style: none;
        }
    }

    .links {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4rem;

        a {
            border: 1px solid var(--ash);
            font-size: 1.6rem;
            color: var(--ash);
            text-decoration: none;
            padding: 7px 30px;
            margin-right: 30px;

            display: flex;
            align-items: center;

            svg {
                margin-left: 1rem;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.btnClose {
    display: flex;
    align-items: center;
    background-color: var(--ash);
    border: 0px;
    height: 40px;
    border-radius: 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    width: 100px;
    justify-content: center;
    clip-path: inset(0em 0em 0em 6rem round 999px);
    transition: clip-path 300ms ease-in-out;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    position: fixed;
    z-index: 10;
    top: 4rem;
    right: 5rem;

    span {
        &:nth-child(1) {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--white);
            position: absolute;
            left: calc(100% - 40px);
            transition: left 300ms ease-in-out, transform 300ms ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;

            strong {
                transition: opacity 300ms ease-in-out;
            }
        }

        &:nth-child(2) {
            color: var(--white);
        }
    }

    &:hover {
        clip-path: inset(0em 0em 0em 0rem round 999px);

        span {
            &:nth-child(1) {
                left: 0px;
                transform: scale(0.3);

                strong {
                    opacity: 0;
                }
            }
        }
    }
}

.navBtn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    width: 8vh;
    height: 40vh;
    opacity: 0.5;
    outline: none;
    border: 0px;

    svg {
        will-change: transform;
        transition: transform 500ms ease-in-out;
    }

    span {
        color: var(--ash3);
        font-size: 16px;
        opacity: 0;
        display: block;
        font-family: "sf-pro-bold";

        will-change: opacity, transform;
        transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
    }
}

.btnPrevious {
    left: 5rem;

    &:hover {
        opacity: 1;

        svg {
            transform: translateX(-10px);
        }

        span {
            opacity: 1;
            transform: translateX(-10px);
        }
    }
}

.btnNext {
    right: 5rem;

    &:hover {
        opacity: 1;

        svg {
            transform: translateX(10px);
        }

        span {
            opacity: 1;
            transform: translateX(10px);
        }
    }
}

.link {
    border: 1px solid var(--ash);
    font-size: 1.6rem;
    color: var(--ash);
    text-decoration: none;
    padding: 7px 30px;
    margin-right: 30px;

    display: inline-flex;
    align-items: center;

    svg {
        margin-left: 1rem;
    }
}
