@import "#/styles/globals.module.scss";

.fullname {
	transition: opacity 200ms ease-in, color 200ms ease-in-out;

	path:nth-child(2) {
		transform-origin: 20%;
		animation: rotate 6s ease-in-out infinite;
	}
	path:nth-child(4) {
		transform-origin: 30%;
		animation: rotate 3s ease-in-out infinite;
	}
}

.initials {
	width: 10rem;
	height: 10rem;

	@media (min-width: $md) {
		width: 15rem;
		height: 15rem;
	}

	@media (min-width: $xl) {
		width: 20rem;
		height: 20rem;
	}

	path {
		&:nth-child(1) {
			stroke-dasharray: 300;
			stroke-dashoffset: 300;
		}
		&:nth-child(2) {
			stroke-dasharray: 300;
			stroke-dashoffset: 300;
		}
	}
}

@keyframes rotate {
	0%,
	100% {
		transform: rotateY(0deg);
	}
	25% {
		transform: rotateY(90deg);
	}
	50% {
		transform: rotateY(180deg);
	}
	75% {
		transform: rotateY(360deg);
	}
}
