@import "#/styles/globals.module.scss";

.container {
	width: 100%;
	position: relative;

	@media (min-width: $md) {
		margin: auto;
		max-width: var(--mini-desktop-max-width);
	}

	@media (min-width: $xxl) {
		max-width: var(--max-width);
	}

	.projectsList {
		li {
			list-style: none;
			border-bottom: 1px solid var(--ash);
			cursor: pointer;
			position: relative;
			transition: opacity 200ms ease-in-out;
			opacity: 0.5;

			&:focus {
				background-color: var(--white-alpha);
				outline: 2px dotted var(--white);
				opacity: 1;
			}

			&:first-child {
				border-top: 1px solid var(--ash);
			}

			.row {
				padding: calc(var(--section-padding) / 3.5) 8rem calc(var(--section-padding) / 3) 8rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: var(--ash);
				text-decoration: none;

				h4 {
					position: relative;
					display: block;
					line-height: 1;
					transform: translateX(0);
					font-size: clamp(5rem, 5.5vw, 10rem);
					transition: transform 200ms ease-in-out;
				}

				p {
					font-size: 1.6rem;
					transform: translateX(0);
					transition: transform 200ms ease-in-out;
				}
			}

			&:hover,
			&:focus {
				// opacity: 0.5;
				opacity: 1;

				h4 {
					transform: translateX(calc(var(--container-padding) * -0.1));
				}

				p {
					transform: translateX(calc(var(--container-padding) * 0.1));
				}
			}

			.number {
				position: absolute;
				font-size: clamp(5rem, 16vw, 26rem);
				font-family: "sf-pro-bold";
				bottom: 0px;
				right: 0px;
				color: var(--white);
				opacity: 0.02;
				line-height: 0.8em;
			}
		}
	}
}
