@import "#/styles/globals.module.scss";

.container {
	min-height: 150vh; // So animation can scroll through a distance
	padding-left: 2rem;
	padding-right: 2rem;

	display: block;

	@media (min-width: $lg) {
		display: none;
	}

	.contentWrapper {
		height: 100vh; // Holds both the svg animation and the actual content displayed . SVG animation would be positioned relative to this
		display: flex;
		align-items: center; // In order to position the actual skills content in the center
		width: 100%;

		.wrapper {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: var(--max-width);

			.heading {
				position: relative;

				.subTitle {
					font-weight: 600;
					line-height: 0.9;
					font-weight: 600;
					letter-spacing: -0.015em;
					color: var(--ash);
					font-size: 36px;
					margin-bottom: 7rem;
					position: relative;
					z-index: 1;

					@media (min-width: $md) {
						font-size: 60px;
					}

					@media (min-width: $xxl) {
						font-size: 80px;
					}

					span {
						display: block;
						overflow: hidden;

						span {
							transform: translate(80px, 40px);
							line-height: 1.1;

							strong {
								color: #fff;
							}
						}

						&:nth-child(2) {
							span {
								transform: translate(40px, 40px);
							}
						}
					}
				}
			}

			.skillsList {
				position: relative;
				height: 402px;

				.skillsListInner {
					position: absolute;
					opacity: 0;

					.skills {
						color: var(--ash);
						margin-bottom: 4rem;

						h3 {
							font-size: 1.6rem;
							font-weight: 600;
							margin-bottom: 2.4rem;
							text-transform: uppercase;
							letter-spacing: 2px;
							color: var(--white);

							opacity: 0;
						}

						ul {
							list-style: none;

							li {
								font-weight: 600;
								position: relative;
								font-size: 18px;
								line-height: 2;
								font-family: "sf-pro-bold";
								overflow: hidden;
								white-space: nowrap;

								.circle {
									width: 6px;
									height: 6px;
									background-color: var(--ash);
									display: flex;
									border-radius: 50%;

									margin-right: 2rem;
								}
							}

							li > span {
								transform: translateY(30px);
								display: flex;
								align-items: center;
							}
						}

						p {
							font-size: 16px;
							line-height: 2;
							font-family: "sf-pro-bold";
							margin-top: 4rem;
							opacity: 0;

							strong {
								color: var(--white);
							}

							a {
								color: var(--white);
							}
						}

						&.others {
							ul {
								display: grid;
								grid-template-columns: 1fr 1fr;
								grid-column-gap: 4rem;
							}
						}
					}
				}
			}
		}
	}
}

.imageSection {
	background-color: var(--ash);
	margin-top: 10rem;
	margin-left: 2rem;
	margin-right: 2rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	overflow: hidden;
	min-height: 50vh;
	position: relative;

	@media (min-width: $lg) {
		display: none;
	}
}
