// .container {
.btnFilter {
	background: var(--color-blue);
	width: 4rem;
	height: 4rem;
	border: 0px;
	border-radius: 50%;
	position: fixed;
	top: 4rem;
	right: 3rem;
	cursor: pointer;
	z-index: 10;
	transform: translateX(100%) rotate(180deg);

	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: background-color 200ms ease-in-out;

	&:hover {
		background-color: var(--dark-blue);
		box-shadow: 1px 2px 7px 1px rgb(255 255 255 / 20%);
	}
}
// }
