@import "#/styles/globals.module.scss";

.container {
	// The Text and Image are positioned relative to this
	position: relative;
	overflow: hidden;
	height: 100vh; // Since it doesnt take the height of its children(i.e the children dont have position static)
}

.textWrapper {
	position: absolute;
	z-index: 2;
	height: 100vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;

	.textInner {
		// To control the svg dimensions
		top: 50%;
		position: relative;
		transform: translateY(-50%);
		z-index: 1;
		width: 100%;

		svg {
			width: 100%;
			transform-origin: 70%;
		}
	}
}

.bgImage {
	position: absolute;
	background-size: cover;
	width: 100vw;
	height: 100%;
	left: 0;
	top: 0;
	border-color: var(--black);
	border-style: solid;
	background-color: var(--light-brown);
	background-image: url(/home-excel.jpg);
	object-position: center;
	background-position: center;

	@media (min-width: $md) {
		background-position: right;
	}

	.frame {
		position: absolute;
		width: 100vw;
		height: 100%;
		border-width: 0px;
		border-style: solid;
		border-color: var(--black);
		top: 0px;
		left: 0px;
		display: block;
		z-index: 10;
	}

	img {
		object-position: center;

		@media (min-width: $md) {
			object-position: right;
		}
	}
}
