.container {
    background-color: var(--black);
    position: relative;
    // border-bottom-left-radius: 60px;
    // border-bottom-right-radius: 60px;

    .content {
        position: relative;
        z-index: 1;
    }
}
