@import "#/styles/globals.module.scss";

.container {
    margin: auto;
    margin-bottom: 20vh;
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: $md) {
        padding-top: 15vh;
        max-width: var(--mini-desktop-max-width);
    }

    @media (min-width: $xxl) {
        max-width: var(--max-width);
    }

    .textWrapper {
        margin-bottom: 8.4rem;

        @media (min-width: $lg) {
            width: 50%;
        }

        .paragraph {
            margin-bottom: 2.4rem;

            .textLine {
                color: var(--ash3);
                line-height: 2;
                font-weight: 600;
                letter-spacing: -0.015em;
                position: relative;
                font-size: 18px;
                font-family: "sf-pro-bold";

                @media (min-width: $md) {
                    font-size: 24px;
                }

                span {
                    display: block;
                    opacity: 0;
                    transform: translateY(200px);
                    strong {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.imageWrapper {
    margin-bottom: 20vh;
    margin-left: auto;
    @media (min-width: $md) {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    .image {
        width: 100%;
        background-color: #28282b;
        // height: 50vh;
        background-size: cover;
        background-position: center;
        padding-top: 100vh;
        // margin-right: 10rem;

        filter: url("https://dennissnellenberg.com/assets/img/DSC07312-2.jpg");
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(1);
        /* Google Chrome & Safari 6+ */
        transition: all 500ms ease-in-out;

        &:hover {
            filter: none;
            -webkit-filter: grayscale(0);
        }

        width: 0%;

        @media (min-width: $lg) {
            // width: 50%;
        }
    }
}
