.container {
	font-size: 1.6rem;
	font-size: 1.4rem;
	background-color: #000;
	background-color: var(--pink);
	background-color: rgb(250, 209, 210);
	background-color: rgb(79 75 80);
	background-color: #bddefd;
	color: #fff;
	color: black;
	padding: 6px 2rem;
}
