@import "#/styles/globals.module.scss";

.container {
	// The Text and Image are positioned relative to this
	position: relative;
	overflow: hidden;
	// width: 100vw;
	height: 100vh; // Since it doesnt take the height of its children(i.e the children dont have position static)
	// border: 2px solid red;
}

.textWrapper {
	// To make sure text doesnt overflow when it is scaled
	position: absolute;
	z-index: 2;
	height: 100vh; // no particular reason
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	width: 100%;

	// @media (max-width: 1100px) {
	// 	min-width: 3270px !important;
	// }

	.textInner {
		// To control the svg dimensions
		top: 50%;
		position: relative;
		transform: translateY(-50%);
		z-index: 1;
		width: 100%;
		// min-width: 3290px;

		svg {
			width: 100%;
			transform-origin: 70%;
		}
	}
}

.bgImage {
	position: absolute;
	background-size: cover;
	width: 100vw;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(https://d2kq0urxkarztv.cloudfront.net/59ee0858278cca00855b0b53/1637784/upload-206b5fb0-86cb-400c-b8b5-e26a219aa703.jpg?e=webp);
}
