@import "#/styles/globals.module.scss";

.container {
	width: 100%;
	position: relative;

	@media (min-width: $md) {
		margin: auto;
		max-width: var(--mini-desktop-max-width);
	}

	@media (min-width: $xxl) {
		max-width: var(--max-width);
	}

	.projectsList {
		li {
			list-style: none;
			border-bottom: 1px solid var(--ash);
			cursor: pointer;
			position: relative;
			transition: opacity 200ms ease-in-out;
			opacity: 1;

			&:focus {
				background-color: var(--white-alpha);
				outline: 2px dotted var(--white);
				opacity: 0.8;
			}

			&:first-child {
				border-top: 1px solid var(--ash);
			}

			.row {
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: var(--ash);
				text-decoration: none;
				padding: 4rem 2rem;

				@media (min-width: $md) {
					padding: 6rem;
				}

				@media (min-width: $xl) {
					padding: 8rem;
				}

				h2 {
					position: relative;
					display: block;
					line-height: 1;
					transform: translateX(0);
					font-size: 2rem;
					transition: transform 200ms ease-in-out;

					@media (min-width: $md) {
						font-size: clamp(5rem, 5.5vw, 10rem);
					}
				}

				p {
					transform: translateX(0);
					transition: transform 200ms ease-in-out;
					font-size: 1.6rem;
				}
			}

			&:hover,
			&:focus {
				opacity: 0.5;

				h2 {
					transform: translateX(-20px);
				}

				p {
					transform: translateX(20px);
				}
			}

			.number {
				position: absolute;
				font-size: clamp(5rem, 16vw, 26rem);
				font-family: "sf-pro-bold";
				bottom: 0px;
				right: 0px;
				color: var(--white);
				opacity: 0.02;
				line-height: 0.8em;
			}
		}
	}
}
