@import "#/styles/globals.module.scss";

.container {
    // Has the long height that helps span the animation through a long scroll distance
    min-height: 250vh;
    display: block;

    @media (min-width: $md) {
        display: none;
    }

    .contentWrapper {
        // Note: GSAP makes this fixed, since we apply "pinning to it". Hence our SVG is positioned relative to this
        height: 100vh; // So content can be this tall and animated SVG runs from the bottom of the viewport to the top
        display: flex;
        align-items: center;

        .tabs {
            // To wrap the work content
            position: relative;

            .bgGradient {
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15), transparent);
                height: 63px;
                width: 100vw;
                position: absolute;
                top: 0px;
                left: -2rem;
            }

            .tabHeaders {
                display: flex;
                flex-wrap: nowrap;
                margin-bottom: 4rem;
                padding-left: 2rem;
                position: relative; // So that the translation works (i.e moving the titles to the left)

                .tabHeader {
                    color: var(--ash);
                    cursor: pointer;
                    list-style: none;
                    font-family: "sf-pro-bold";
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 1.05;
                    font-weight: 600;
                    letter-spacing: -0.015em;
                    margin-right: 2rem;
                    opacity: 0.2;

                    // &:nth-child(1) {
                    //     opacity: 1;
                    // }
                }
            }

            .tabDetails {
                position: relative;
                height: 320px; //Assumption from text height

                .tabDetail {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    opacity: 0;

                    // &:nth-child(1) {
                    //     opacity: 1;
                    // }

                    color: var(--ash);

                    h4 {
                        font-size: 21px;
                        line-height: 1.19048;
                        font-weight: 600;
                        letter-spacing: 0.011em;
                        margin-bottom: 2rem;
                    }

                    p {
                        font-size: 18px;
                        line-height: 1.5;
                        font-weight: 600;
                        letter-spacing: 0.011em;
                        margin-bottom: 2rem;
                        font-family: "sf-pro-medium";
                    }

                    ul {
                        list-style: none;

                        li {
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 1.2rem;
                            padding-left: 30px;
                            position: relative;
                            font-family: "sf-pro-medium";
                            line-height: 1.5;

                            &:before {
                                content: "";
                                position: absolute;
                                left: 0;
                                width: 6px;
                                height: 6px;
                                background-color: var(--ash3);
                                display: flex;
                                border-radius: 50%;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}
