@import "#/styles/globals.module.scss";

// ----------------------------------------
// FORM
// ----------------------------------------

.title {
	h4 {
		position: relative;
		margin-bottom: 2rem;
		font-family: "sf-pro-bold";
		font-weight: 500;
		font-size: 3rem;

		@media (min-width: $md) {
			font-size: 4.6rem;
		}

		&::selection {
			background: var(--black);
			color: var(--light-brown);
		}
	}

	p {
		font-family: "sf-pro-regular";
		line-height: 1.5em;
		position: relative;
		margin-bottom: 2rem;

		font-size: 1.6rem;

		@media (min-width: $md) {
			font-size: 1.8rem;
		}

		span {
			text-decoration: underline;

			&::selection {
				background: var(--black);
				color: var(--light-brown);
			}
		}

		&::selection {
			background: var(--black);
			color: var(--light-brown);
		}
	}
}

.form {
	position: relative;
	.formField {
		margin-bottom: 4rem;
		width: 100%;
		position: relative;

		label {
			display: none;
			font-size: 2.8rem;
			letter-spacing: 1px;
			font-weight: 600;
			margin-bottom: 2rem;
			font-family: "sf-pro-regular";
			font-weight: 200;

			&::selection {
				background: var(--black);
				color: var(--light-brown);
			}
		}
	}

	.twoColumns {
		display: grid;
		grid-column-gap: 4rem;

		@media (min-width: $md) {
			grid-template-columns: 1fr 1fr;
		}
	}

	input {
		background-color: transparent;
		border: 0px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		padding: 1.2rem;
		padding-left: 0px;
		width: 100%;
		outline: none;
		font-size: 1.8rem;
		font-family: "sf-pro-regular";
		font-weight: 200;

		&::placeholder {
			// text-transform: uppercase;
			color: var(--black);
			opacity: 0.4;
			font-size: 1.8rem;
		}

		&:focus {
			border-color: var(--black);
		}
	}

	textarea {
		background-color: transparent;
		border: 0px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		display: block;
		width: 100%;
		padding: 2rem;
		padding-left: 0px;
		height: 60px;
		outline: none;
		font-size: 1.8rem;
		overflow: hidden;
		height: 200px;

		&::placeholder {
			// text-transform: uppercase;
			color: var(--black);
			opacity: 0.4;
			font-size: 1.8rem;
		}
		&:focus {
			border-color: var(--black);
		}
	}

	ul {
		list-style: none;

		li {
			margin-bottom: 2rem;
			display: flex;
			justify-content: flex-end;
		}
	}

	.error {
		color: var(--red);
		position: absolute;
		left: 0px;
		bottom: -25px;
		font-size: 1.6rem;
	}
	.success {
		color: var(--green);
		position: absolute;
		left: 0px;
		bottom: -25px;
		font-size: 1.6rem;
	}

	.btnWrapper {
		button {
			color: var(--black);
			border-color: var(--black);
			font-size: max(32px, 4.1666666667vw);
			background-color: transparent;
			border: 0px;
			font-family: "sf-pro-bold";
			font-weight: 500;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			font-size: 3rem;
			transition: opacity 200ms ease-in-out;
			height: 3.2rem;

			@media (min-width: $md) {
				font-size: 3.6rem;

				width: auto;
			}

			span {
				line-height: 0.8em;
				margin-right: 4rem;
			}

			svg {
				width: max(24px, 1.8vw);
			}

			&:focus {
				outline: 3px dotted var(--black);
			}

			&:disabled {
				opacity: 0.2;
				cursor: not-allowed;
			}
		}

		.error {
			bottom: auto;
			top: 100%;
		}

		.success {
			bottom: auto;
			top: 100%;
		}
	}
}
