@import "#/styles/globals.module.scss";

.view {
	padding: 0px 2rem;
	display: flex;

	@media (min-width: $xl) {
		padding: 0px;
	}

	button {
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		border: 1px solid var(--ash);
		background-color: transparent;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (min-width: $xl) {
			width: 4.4rem;
			height: 4.4rem;
		}

		&:nth-child(1) {
			margin-right: 2rem;
		}

		&.active {
			background-color: var(--ash);

			svg {
				stroke: var(--white);
			}
		}

		&:hover {
			opacity: 0.5;
		}

		&:focus {
			outline: 2px dotted var(--white);
		}
	}
}
