.container {
	color: var(--white);
	height: 400px;
	border-radius: 1rem;
	text-decoration: none;

	.image {
		background-color: #232323;
		height: 190px;
		margin-bottom: 2rem;
		border-radius: 1rem;
		position: relative;
		overflow: hidden;
		border: 2px solid;
		border-color: transparent;
		transition: border 0.1s ease-in-out;

		.imageInner {
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
			transition: transform 200ms ease-in-out;
		}
	}

	h3 {
		font-size: 2.4rem;
		margin-bottom: 2rem;
		position: relative;
		font-weight: 500;
	}

	.summary {
		font-size: 1.6rem;
		line-height: 2.4rem;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-bottom: 1rem;
	}

	.time {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 1.4rem;
		color: var(--ash);

		.line {
			width: 20px;
			height: 2px;
			background-color: var(--ash);
		}
	}

	&:hover {
		&:nth-child(5n) {
			.image {
				border-color: #e48be4;
			}

			color: #e48be4;

			.time {
				color: #e48be4;
				.line {
					background-color: #e48be4;
				}
			}
		}

		&:nth-child(5n - 1) {
			.image {
				border-color: #73eb73;
			}

			color: #73eb73;

			.time {
				color: #73eb73;
				.line {
					background-color: #73eb73;
				}
			}
		}

		&:nth-child(5n - 2) {
			.image {
				border-color: var(--light-blue);
			}

			color: var(--light-blue);

			.time {
				color: var(--light-blue);
				.line {
					background-color: var(--light-blue);
				}
			}
		}
		&:nth-child(5n - 3) {
			.image {
				border-color: orange;
			}

			color: orange;

			.time {
				color: orange;
				.line {
					background-color: orange;
				}
			}
		}
		&:nth-child(5n - 4) {
			.image {
				border-color: #ffd644;
			}

			color: #ffd644;

			.time {
				color: #ffd644;
				.line {
					background-color: #ffd644;
				}
			}
		}

		.imageInner {
			transform: rotate(1deg) scale(1.05);
		}
	}
}
