.container {
	color: var(--white);
	height: 400px;
	border-radius: 1rem;
	text-decoration: none;

	.image {
		background-color: var(--ash);
		height: 190px;
		margin-bottom: 2rem;
		border-radius: 1rem;
		position: relative;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		border: 2px solid;
		border-color: transparent;
		transition: border 0.1s ease-in-out;
	}

	h3 {
		font-size: 2.4rem;
		margin-bottom: 2rem;
		position: relative;

		// &:after {
		// 	// content: "";
		// 	height: 10px;
		// 	width: 10px;
		// 	background-color: red;
		// 	position: absolute;
		// 	left: -5px;
		// 	top: 0px;
		// 	z-index: -1;
		// }
	}

	.summary {
		font-size: 1.6rem;
		line-height: 2.4rem;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		margin-bottom: 1rem;
	}

	.time {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 1.4rem;
		color: var(--ash);

		.line {
			background-color: var(--ash);
			width: 20px;
			height: 2px;
			background-color: var(--ash);
		}
	}

	// &:nth-child(5n) {
	// 	h3 {
	// 		&:after {
	// 			background-color: purple;
	// 		}
	// 	}
	// }

	// &:nth-child(5n - 1) {
	// 	h3 {
	// 		&:after {
	// 			background-color: green;
	// 		}
	// 	}
	// }

	// &:nth-child(5n - 2) {
	// 	h3 {
	// 		&:after {
	// 			background-color: #ffd644;
	// 		}
	// 	}
	// }
	// &:nth-child(5n - 3) {
	// 	h3 {
	// 		&:after {
	// 			background-color: orange;
	// 		}
	// 	}
	// }
	// &:nth-child(5n - 4) {
	// 	h3 {
	// 		&:after {
	// 			background-color: #4b96ff;
	// 		}
	// 	}
	// }

	&:hover {
		&:nth-child(5n) {
			.image {
				border-color: purple;
			}
		}

		&:nth-child(5n - 1) {
			.image {
				border-color: green;
			}
		}

		&:nth-child(5n - 2) {
			.image {
				border-color: #ffd644;
			}
		}
		&:nth-child(5n - 3) {
			.image {
				border-color: orange;
			}
		}
		&:nth-child(5n - 4) {
			.image {
				border-color: #4b96ff;
			}
		}
	}
}
