@import "#/styles/globals.module.scss";

.container {
    background-color: var(--light-brown);
    position: relative;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: var(--z-index-contact);
    padding-top: 10vh;

    a {
        font-size: 1.8rem;
        text-decoration: underline;
        cursor: pointer;
        text-transform: uppercase;
        color: var(--black);
        position: relative;

        span {
            position: relative;
        }

        &::selection {
            background: var(--black);
            color: var(--light-brown);
        }

        &::before {
            content: "";
            display: block;
            width: 0%;
            height: 100%;
            position: absolute;
            z-index: 0;
            background: var(--black);
            transition: width 200ms ease-in-out;
        }

        &:hover,
        &:active,
        &:focus {
            color: var(--light-brown);
            text-decoration: none;
            outline: none;

            &:before {
                width: 100%;
            }
        }
    }

    .containerInner {
        display: flex;
        padding: 0px 6rem;
        padding-bottom: 10vh;
        width: 100%;

        .leftSection {
            margin-right: 8rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .rightSection {
            flex: 1;
        }
    }
}

// ----------------------------------------
// FORM COMPONENT
// ----------------------------------------
.title {
    h1 {
        font-size: 4.6rem;
        font-family: "sf-pro-bold";
        font-weight: 200;
        position: relative;
        margin-bottom: 2rem;

        font-family: sf-pro-regular;
        font-weight: 200;

        &::selection {
            background: var(--black);
            color: var(--light-brown);
        }
    }

    p {
        font-size: 1.8rem;
        width: 80%;
        font-family: "sf-pro-regular";
        line-height: 1.5em;
        max-width: 490px;
        position: relative;
        margin-bottom: 2rem;

        span {
            position: relative;
            display: inline-block;
            color: var(--light-brown);

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: red;
                background: linear-gradient(to right, black, var(--brown));
                position: absolute;
                left: 0px;
                z-index: -1;
            }
        }

        &::selection {
            background: var(--black);
            color: var(--light-brown);
        }
    }
}

.form {
    position: relative;
    .formField {
        margin-bottom: 4rem;
        width: 100%;

        label {
            display: none;
            font-size: 2.8rem;
            letter-spacing: 1px;
            font-weight: 600;
            margin-bottom: 2rem;
            font-family: "sf-pro-regular";
            font-weight: 200;

            &::selection {
                background: var(--black);
                color: var(--light-brown);
            }
        }
    }

    .twoColumns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
    }

    input {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 1.2rem;
        padding-left: 0px;
        width: 100%;
        outline: none;
        font-size: 1.8rem;
        font-family: "sf-pro-regular";
        font-weight: 200;

        &::placeholder {
            // text-transform: uppercase;
            color: var(--black);
            opacity: 0.4;
            font-size: 1.8rem;
        }
    }

    textarea {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: block;
        width: 100%;
        padding: 2rem;
        padding-left: 0px;
        height: 60px;
        outline: none;
        font-size: 1.8rem;
        overflow: hidden;
        height: 200px;

        &::placeholder {
            // text-transform: uppercase;
            color: var(--black);
            opacity: 0.4;
            font-size: 1.8rem;
        }
    }

    ul {
        list-style: none;

        li {
            margin-bottom: 2rem;
            display: flex;
            justify-content: flex-end;
        }
    }

    .btnWrapper {
        button {
            color: var(--black);
            border-color: var(--black);

            font-size: max(32px, 4.1666666667vw);
            font-size: 3.6rem;
            background-color: transparent;
            border: 0px;
            width: 100%;
            // text-transform: uppercase;
            font-family: "sf-pro-bold";
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                line-height: 0.8em;
            }

            svg {
                width: max(24px, 1.8vw);
            }
        }
    }
}

// ----------------------------------------
// HELPFUL LINKS
// ----------------------------------------
.helpfulLinks {
    &:first-child {
        margin-bottom: 60px;
    }
    h3 {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-family: "sf-pro-regular";
        font-weight: 200;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
            // font-size: 2rem;
            margin-right: 1rem;
            // text-decoration: underline;

            &.line {
                height: 2px;
                width: 30px;
                background-color: var(--black);
            }

            a {
                // text-decoration: none;
                text-transform: uppercase;
                color: var(--black);
            }
        }
    }
}

// ----------------------------------------
// SOCIAL FOOTER
// ----------------------------------------
.social {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    margin: 0px 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;

        li {
            margin-right: 2rem;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: var(--black);
                font-size: 1.4rem;
            }
        }
    }

    p {
        font-size: 1.4rem;
    }
}
