@import "#/styles/globals.module.scss";

.container {
    background-color: var(--light-brown);

    .contentWrapper {
        max-width: var(--max-width);
        margin: auto;
        padding: 10vh 0px;
        color: var(--black);

        @media (min-width: $md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .links {
            section {
                &:first-child {
                    margin-bottom: 6rem;
                }

                h4 {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    margin-bottom: 3rem;
                    letter-spacing: 1px;
                    font-weight: 600;
                }

                ul {
                    list-style: none;

                    li {
                        margin-bottom: 2rem;

                        &:last-child {
                            margin-bottom: 0px;
                        }

                        a {
                            font-size: 1.8rem;
                            text-decoration: underline;
                            cursor: pointer;
                            text-transform: uppercase;
                            color: var(--black);
                        }
                    }
                }
            }
        }

        .contact {
            padding: 2rem;

            @media (min-width: $md) {
                padding: 5rem;
            }

            h3 {
                font-size: 3vw;
                margin-bottom: 7rem;
                font-family: "sf-pro-regular";
                font-weight: 200;
            }

            form {
                .twoColumns {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .formField {
                        margin-bottom: 4rem;
                        width: 100%;

                        label {
                            display: block;
                            text-transform: uppercase;
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-weight: 600;
                        }
                    }

                    input {
                        background-color: transparent;
                        border: 0px;
                        border-bottom: 1px solid #000;
                        padding: 1.2rem;
                        width: 100%;
                    }

                    textarea {
                        background-color: transparent;
                        border: 0px;
                        border-bottom: 1px solid #000;
                        display: block;
                        width: 100%;
                        padding: 2rem;
                        font-size: 1.4rem;
                        height: 60px;
                    }

                    ul {
                        list-style: none;
                        text-align: right;

                        li {
                            margin-bottom: 2rem;
                            a {
                                font-size: 1.8rem;
                                text-decoration: underline;
                                cursor: pointer;
                                text-transform: uppercase;
                                color: var(--black);
                            }
                        }
                    }
                }

                .btnWrapper {
                    button {
                        color: var(--black);
                        border-color: var(--black);
                    }
                }
            }
        }
    }
}
