@import "#/styles/globals.module.scss";

.sizeblocker {
	z-index: var(--z-index-app-blocker);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--black);
	overflow: hidden;
	color: var(--ash);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 2rem;

	p {
		font-size: 2.4rem;
		text-align: center;

		span {
			color: var(--white);
		}
	}

	@media (min-width: 320px) {
		display: none;
		visibility: hidden;
	}
}
