@import "#/styles/globals.module.scss";

.container {
	background-color: var(--light-brown);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	z-index: var(--z-index-banner);
	padding: 8rem 2rem 2rem;

	@media (min-width: $xl) {
		padding: 5rem 5rem;
	}

	.logo {
		position: absolute;
		top: 2rem;
		left: 2rem;
		width: 60px;

		@media (min-width: $xl) {
			top: 4rem;
			left: 5rem;
			width: 79px;
		}
	}

	.textWrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (min-width: $xl) {
			// display: block;
			justify-content: center;
		}

		h1 {
			font-size: clamp(50px, 12.5vw, 300px);
			letter-spacing: -2px;
			text-transform: uppercase;
			line-height: 0.8em;
			font-family: "sf-pro-medium";
			font-weight: 500;
			display: flex;
			position: relative;

			.lineWrapper {
				position: relative;

				.letterWrapper {
					overflow: hidden;
					display: inline-flex;
					position: relative;
					z-index: 1;

					.letter {
						transform: translateX(-100%);
					}
				}

				.bg {
					background: linear-gradient(to right, black, var(--brown));
					position: absolute;
					width: 0%;
					height: 100%;
					left: 0px;
					top: 0px;
				}
			}
		}

		.firstPair {
			h1 {
				&:last-child {
					color: var(--light-brown);

					@media (min-width: $xl) {
						margin-left: 10vw;
					}
				}
			}
		}

		.secondPair {
			h1 {
				&:first-child {
					justify-content: flex-end;

					@media (min-width: $xl) {
						justify-content: flex-start;
						margin-left: 20vw;
					}
				}
				&:last-child {
					color: var(--light-brown);
					justify-content: flex-end;

					@media (min-width: $xl) {
						display: flex;
					}
				}
			}
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		position: absolute;
		left: 2rem;
		bottom: 1.5rem;

		@media (min-width: $xl) {
			left: 5rem;
			bottom: 5rem;
		}
	}
}

.placeholder {
	height: 100vh;
}
