.container {
    background-color: var(--light-brown);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15rem 5rem 5rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;

    h1 {
        font-size: 12.5vw;
        letter-spacing: -2px;
        text-transform: uppercase;
        line-height: 0.8em;
        font-family: "sf-pro-medium";
        font-weight: 500;
        display: flex;
        position: relative;

        .lineWrapper {
            position: relative;

            .letterWrapper {
                overflow: hidden;
                display: inline-flex;
                position: relative;
                z-index: 1;

                .letter {
                    transform: translateX(-50px);
                }
            }

            .bg {
                background: linear-gradient(to right, black, var(--brown));
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0px;
            }
        }

        //COLOR CHANGE
        &:nth-child(2),
        &:nth-child(4) {
            .letter {
                color: var(--light-brown);
            }
        }

        //INITIAL DISPLACEMENT
        &:nth-child(2) {
            margin-left: 10vw;
        }
        &:nth-child(3) {
            margin-left: 20vw;
        }
        &:nth-child(4) {
            display: flex;
            justify-content: flex-end;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
    }
}

// span {
//     color: var(--light-brown);
//     background: linear-gradient(to right, black, var(--brown));
// }

.placeholder {
    height: 100vh;
}
