.container {
    .layers {
        .layer {
            height: 50vh;
            width: 100%;
            background-color: var(--black);
            position: fixed;
            left: 0px;
            z-index: var(--z-index-loader);

            &:nth-child(1) {
                top: 0px;
                transform: scaleY(0);
                transform-origin: top;
            }

            &:nth-child(2) {
                bottom: 0px;
                transform: scaleY(0);
                transform-origin: bottom;
            }
        }
    }

    .noiseWrapper {
        z-index: var(--z-index-loader);
        position: relative;
    }

    button {
        position: fixed;
        z-index: 100000;
    }
}
