.button {
    // border: 1px solid var(--white);
    // background-color: transparent;
    // padding: 0px 35px;
    // padding: 15px 35px;
    // border-radius: 30px;
    // font-size: 1.4rem;
    // cursor: pointer;
    // outline: none;
    // width: auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // color: var(--white);
    border: 1px solid var(--ash);
    font-size: 1.6rem;
    color: var(--ash);
    text-decoration: none;
    padding: 7px 30px;
    margin-right: 30px;
    cursor: pointer;
    min-height: 40px;

    display: flex;
    align-items: center;
    background-color: transparent;

    svg {
        margin-left: 1rem;
    }
}
