@import "#/styles/globals.module.scss";

.container {
	width: 100%;
	top: 0px;
	position: fixed;
	z-index: var(--z-index-nav);
	height: 50px;

	@media (min-width: $md) {
		display: none;
	}
}

.link {
	position: fixed;
	z-index: 1003;
	top: 8px;
	left: 2rem;
	visibility: hidden;

	@media (min-width: $lg) {
		top: 2rem;
	}
	@media (min-width: $xl) {
		top: 4rem;
		left: 3rem;
	}
	@media (min-width: $xxl) {
		left: 5.8rem;
	}

	&:focus {
		outline: 2px dotted;
	}
}

.logo {
	position: relative;
	width: 50px;

	@media (min-width: $xl) {
		width: 79px;
	}
}
