.nav {
    // position: fixed;
    position: sticky;
    height: 80px;
    width: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    padding: 0px 5rem;
    z-index: 5;

    .navWrapper {
        position: relative;

        svg {
            position: absolute;
            left: 0;
            top: 50%;
            transition: opacity 200ms ease-in-out;
            will-change: opacity;
        }
    }
}

.navTitle {
    path:nth-child(2) {
        transform-origin: 20%;
        animation: rotate 6s ease-in-out infinite;
    }
    path:nth-child(4) {
        transform-origin: 30%;
        animation: rotate 3s ease-in-out infinite;
    }
}

@keyframes rotate {
    0%,
    100% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(360deg);
    }
}
