@import "#/styles/globals.module.scss";

.gridWrapper {
	display: block;

	@media (min-width: $md) {
		display: none;
	}
}

.listWrapper {
	display: none;

	@media (min-width: $md) {
		display: block;
	}
}
