@font-face {
    font-family: "sf-pro-bold";
    src: url("/fonts/sf-pro/SFPRODISPLAYBOLD.OTF");
    font-display: swap;
}
@font-face {
    font-family: "sf-pro-medium";
    src: url("/fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF");
    font-display: swap;
}
@font-face {
    font-family: "sf-pro-regular";
    src: url("/fonts/sf-pro/SFPRODISPLAYREGULAR.OTF");
    font-display: swap;
}

:root {
    /* ---------------------------------------------------- */
    /* COLORS */
    /* ---------------------------------------------------- */
    --black: #000;
    --light-brown: #e1dfdd;
    --ash: #86868b;

    /* ---------------------------------------------------- */
    /* SPACING */
    /* ---------------------------------------------------- */
    --spacing-x: 2vw;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: "sf-pro-regular";
}
