@font-face {
    font-family: "sf-pro-bold";
    src: url("/fonts/sf-pro/SFPRODISPLAYBOLD.OTF");
    font-display: swap;
}
@font-face {
    font-family: "sf-pro-medium";
    src: url("/fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF");
    font-display: swap;
}
@font-face {
    font-family: "sf-pro-regular";
    src: url("/fonts/sf-pro/SFPRODISPLAYREGULAR.OTF");
    font-display: swap;
}

:root {
    /* ---------------------------------------------------- */
    /* COLORS */
    /* ---------------------------------------------------- */
    --black: #000;
    --white: #fff;
    --light-brown: #e1dfdd;
    --ash: #86868b;
    --ash2: #767676;
    --ash3: #6e6e73;

    /* ---------------------------------------------------- */
    /* SPACING */
    /* ---------------------------------------------------- */
    --spacing-x: 2vw;

    /* ---------------------------------------------------- */
    /* SIZES*/
    /* ---------------------------------------------------- */
    --max-width: 1280px;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: "sf-pro-regular";
}

h1,
h1,
h3,
h4,
h5,
h6 {
    font-family: "sf-pro-bold";
}
