/* ---------------------------------------------------- */
/* BREAKPOINTS */
/* ---------------------------------------------------- */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

// Below this height some animations would not be available (This is mainly for users viewing on landscape mode)
$min-app-height: 580px;
