.container {
	color: #fff;
	max-width: 1200px;
	margin: auto;
	padding: 0px 2rem;

	.containerHeader {
		margin-bottom: 6rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1 {
		font-size: 6.4rem;
	}

	section {
		margin-bottom: 10rem;

		h2 {
			font-family: "sf-pro-regular";
			font-size: 1.4rem;
			letter-spacing: 5px;
			margin-bottom: 3rem;
			text-transform: uppercase;
		}
	}

	.tagsSearch {
		display: flex;
		justify-content: space-between;
		gap: 4rem;
		margin-bottom: 10rem;

		.tags {
			p {
				color: #fff;
				margin-bottom: 2rem;
				font-size: 1.4rem;
				letter-spacing: 5px;
				margin-bottom: 2rem;
				text-transform: uppercase;
			}
			button {
				height: 4rem;
				font-size: 1.6rem;
				padding: 0px 2rem;
				border-radius: 3rem;
				border: 0px;
				cursor: pointer;
				margin-right: 1rem;
				margin-bottom: 1rem;
				border: 0px;
				background-color: transparent;
				color: #fff;
				border: 1px solid #fff;
			}
		}
	}
}

.search {
	height: 50px;
	border-radius: 3rem;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	padding: 0px 2rem;
	max-width: 50rem;
	// margin-: auto;
	// margin-bottom: 8rem;

	svg {
		margin-right: 1.4rem;
	}

	input {
		min-width: 34rem;
		background-color: transparent;
		font-size: 1.6rem;
		color: #fff;
		border: 0px;
		flex: 1;
		outline: none;
	}

	input::placeholder {
		color: rgba(255, 255, 255, 0.5);
	}
}

.circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.cardsWrapper {
	display: grid;
	grid-gap: 4rem;
	grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
}
