@import "#/styles/globals.module.scss";

.container {
	color: #fff;
	max-width: 1024px;
	margin: auto;

	padding: 2rem;

	h1 {
		font-size: 3.6rem;

		@media (min-width: $md) {
			font-size: 6.4rem;
		}
	}

	h2 {
		font-size: 3rem;
		margin-top: 3.6rem;

		@media (min-width: $md) {
			font-size: 4.8rem;
		}
	}

	h3 {
		font-size: 2.4rem;
		margin-top: 3.2rem;

		@media (min-width: $md) {
			font-size: 3.6rem;
		}
	}

	h4 {
		font-size: 2rem;
		margin-top: 3rem;

		@media (min-width: $md) {
			font-size: 3rem;
		}
	}

	p {
		margin: 2rem 0px;
		line-height: 1.625;
		font-size: 1.6rem;

		@media (min-width: $md) {
			font-size: 2rem;
		}

		code {
			background-color: #edf2f7;
			color: #000;
			padding: 0.2rem 0.8rem;
			border-radius: 2px;
		}
	}

	ul,
	ol {
		line-height: 2.6rem;
		margin: 2rem 0px;
		padding-left: 2rem;

		li {
			font-size: 1.6rem;
			line-height: 1.8;

			@media (min-width: $md) {
				font-size: 2rem;
			}

			ul {
				margin: 0px;
			}
		}
	}

	a {
		// #a2abe2
		color: var(--blog-accent);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	b {
		font-family: "sf-pro-bold";
	}

	hr {
		opacity: 0.2;
	}

	blockquote {
		border-left-color: var(--blog-accent);
		border-left-style: solid;
		border-left-width: 6px;
		padding-left: 3.2rem;
	}

	pre {
		code {
			font-size: 1.6rem;

			@media (min-width: $md) {
				font-size: 2rem;
			}
		}
	}

	.header {
		button {
			background-color: transparent;
			font-size: 1.6rem;
			color: #fff;
			border: 0px;
			cursor: pointer;
			margin-bottom: 4rem;
			display: flex;
			gap: 1.4rem;
			align-items: center;
			display: none;

			svg {
				transition: transform 200ms ease-in-out;
			}

			&:hover {
				svg {
					transform: translateX(-10px);
				}
			}
		}

		text-align: center;

		h1 {
			// margin-bottom: 2.4rem;
			margin-bottom: 1.2rem;
		}

		.summary {
			margin: 0px;
			margin-bottom: 1.2rem;
		}

		.info {
			display: flex;
			flex-wrap: wrap;
			gap: 2px;
			margin-top: 0px;
			margin-bottom: 4rem;
			color: var(--ash);

			align-items: center;
			flex-direction: column;

			@media (min-width: $md) {
				gap: 1.4rem;
				flex-direction: row;
				justify-content: center;

				// align-items: center;

				// align-items: flex-start;
				//    flex-direction: column;
			}

			// span {
			// 	width: 6px;
			// 	height: 6px;
			// 	background-color: var(--ash);
			// 	border-radius: 50%;
			// }

			span {
				display: flex;
				align-items: center;
			}

			.circle {
				width: 6px;
				height: 6px;
				background-color: var(--ash);
				border-radius: 50%;
				margin-right: 1rem;
			}
		}
		.blogImage {
			// height: 450px;
			background-color: var(--ash);
			// background-color: transparent;
			margin-bottom: 8rem;
			position: relative;

			padding-top: 52.5%;
			@media (min-width: $md) {
			}
		}
	}
}
