@import "#/styles/globals.module.scss";

.mainContent {
	padding-bottom: 2rem;

	@media (min-width: $md) {
		padding-bottom: 20vh;
	}
}

.container {
	position: relative;
	z-index: 1;
	color: var(--ash);
	min-height: 100vh;

	max-width: var(--max-width);
	margin: auto;
	padding: 8rem 2rem;

	@media (min-width: $md) {
		padding: 20vh 8rem 0px;
	}

	h1 {
		font-size: 8rem;
		margin-bottom: 4rem;
		color: var(--ash);
		text-transform: uppercase;
	}

	.summary {
		margin-bottom: 30vh;
	}

	section {
		margin-bottom: 24rem;

		&:last-child {
			margin-bottom: 0px;
		}

		h2 {
			font-size: 2.4rem;
			margin-bottom: 4rem;
			text-transform: uppercase;
			text-align: center;

			@media (min-width: $lg) {
				font-size: 4rem;
			}
		}

		a {
			color: var(--ash);
			position: relative;
			display: inline;
			transition: transform 200ms ease-in-out;
			font-size: 1.6rem;

			@media (min-width: $lg) {
				font-size: 3.6rem;
			}

			span {
				position: relative;
			}

			&::selection {
				background: var(--black);
				color: var(--light-brown);
			}

			&:hover {
				color: var(--white);
			}

			&:focus {
				color: var(--white);
				text-decoration: none;
				outline: 2px dotted var(--white);
			}
		}

		.list {
			li {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				position: relative;
				color: var(--ash);
				transform: translateY(100px);
				opacity: 0;
				margin-bottom: 2rem;

				@media (min-width: $md) {
					margin-bottom: 4rem;
				}

				&:last-child {
					margin-bottom: 0px;
				}

				&:before {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: var(--ash);
					left: -20px;
					top: 5px;
				}

				p {
					opacity: 0.5;
					font-size: 2rem;
					margin-top: 2rem;
					font-family: "sf-pro-regular";
				}
			}
		}

		.people {
			list-style: none;

			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 4rem;
				transform: translateY(100px);
				opacity: 0;
				font-size: 1.6rem;

				@media (min-width: $lg) {
					font-size: 3.6rem;
				}

				a {
					font-size: 1.6rem;

					@media (min-width: $lg) {
						font-size: 3.6rem;
					}
				}

				.lines {
					flex: 1;
					margin-left: 1rem;
					margin-right: 1rem;

					border-bottom: 1px dotted;

					@media (min-width: $lg) {
						border-bottom: 3px dotted;
						transform: translateY(-45%);
					}
				}
			}
		}
	}
}
