.container {
    background-color: var(--black);

    padding: 5rem;
    position: relative;
    z-index: 1;
    color: var(--ash);
    min-height: 100vh;

    .containerInner {
        max-width: var(--max-width);
        margin: auto;
        padding-top: 20vh;
    }

    h1 {
        font-size: 8rem;
        margin-bottom: 4rem;
        color: var(--ash);
        text-transform: uppercase;
    }

    .summary {
        margin-bottom: 4rem;
        font-size: 1.8rem;
        width: 50%;
        line-height: 2em;
    }

    ul {
        padding-left: 3rem;
        li {
            margin-bottom: 4rem;
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            color: var(--ash);

            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--ash);
                left: -20px;
                top: 5px;
            }

            a {
                color: var(--ash);
                position: relative;
                display: inline;

                span {
                    position: relative;
                }

                &::selection {
                    background: var(--black);
                    color: var(--light-brown);
                }

                &::before {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    background: var(--ash);
                    transition: width 200ms ease-in-out;
                }

                &:hover,
                &:active,
                &:focus {
                    color: var(--light-brown);
                    text-decoration: none;
                    outline: none;

                    &:before {
                        width: 100%;
                    }
                }
            }

            p {
                opacity: 0.5;
            }
        }
    }
}
