.container {
	color: var(--white);
	padding-top: 10rem;
	padding: 10rem 2rem 20vh;
	position: relative;
	min-height: 100vh;

	.wrapper {
		max-width: 900px;
		margin: auto;

		h2 {
			margin-bottom: 6rem;
			font-weight: 500;
			color: var(--ash);
			font-family: sf-pro-regular;
			font-size: 1.8rem;
		}
	}
}
