.container {
    background-color: var(--black);
    color: var(--white);
    // background: radial-gradient(farthest-side at 50% 50%, #3c3e3b, transparent);

    .wrapper {
        max-width: 900px;
        // border: 1px solid red;
        min-height: 100vh;
        margin: auto;

        .title {
            font-size: 8rem;
        }
    }
}
