@import "#/styles/globals.module.scss";

.main {
	position: relative;
	z-index: var(--z-index-content);
	background-color: var(--light-brown);

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		z-index: 1;
		padding: 8rem 2rem 2rem;

		@media (min-width: $xl) {
			padding: 10rem 6rem 5rem;
		}

		h1,
		h2 {
			font-weight: 500;
			font-size: 3rem;

			@media (min-width: $xl) {
				font-size: 5.6rem;
			}

			&::selection {
				background: var(--black);
				color: var(--light-brown);
			}
		}

		.top {
			opacity: 0;
			transform: translateY(100px);

			h2 {
				span {
					background: linear-gradient(to right, black, var(--brown));
					line-height: 0.8em;
					color: var(--light-brown);
					display: inline-block;
					padding-left: 2rem;
					padding-right: 2rem;

					&::selection {
						background: var(--black);
						color: var(--light-brown);
					}
				}
			}
		}

		.bottom {
			opacity: 0;
			transform: translateY(100px);
			display: grid;
			grid-template-columns: 1fr 1fr;

			.bottomRight {
				text-align: right;

				button {
					margin-top: 2rem;
					background-color: transparent;
					border: 0px;
					text-transform: uppercase;
					text-decoration: underline;
					cursor: pointer;
					color: var(--black);
					font-size: 1.6rem;
					position: relative;

					@media (min-width: $xl) {
						font-size: 2.4rem;
					}

					span {
						position: relative;
					}

					&::before {
						content: "";
						display: block;
						width: 0%;
						height: 100%;
						position: absolute;
						z-index: 0;
						left: 0;
						top: 0;
						background: var(--black);
						transition: width 200ms ease-in-out;
					}

					&:hover,
					&:active,
					&:focus {
						color: var(--light-brown);
						text-decoration: none;
						outline: none;
						outline: 2px dotted var(--black);

						&:before {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.scrollAlert {
	opacity: 0;
	position: absolute;

	color: var(--ash);
	left: 2rem;
	bottom: 1.5rem;

	@media (min-width: $xl) {
		left: 5rem;
		bottom: 5rem;
	}
}

.radialGradient {
	opacity: 0;
}
