@import "#/styles/globals.module.scss";
.content {
	padding-top: 20vh;
	padding-bottom: 20vh;
	overflow: hidden;
	min-height: 140vh;

	.header {
		display: flex;
		align-items: center;
		margin-bottom: 4rem;
		justify-content: center;

		@media (min-width: $md) {
			justify-content: space-between;
			margin-left: auto;
			margin-right: auto;

			max-width: var(--mini-desktop-max-width);
		}

		@media (min-width: $xxl) {
			max-width: var(--max-width);
		}

		.contentTitle {
			font-size: 1.6rem;
			color: var(--ash);
			font-family: sf-pro-regular;

			span {
				color: var(--white);
			}
		}

		.view {
			display: none;

			@media (min-width: $md) {
				display: flex;
			}

			button {
				width: 4.4rem;
				height: 4.4rem;
				border-radius: 50%;
				border: 1px solid var(--ash);
				background-color: transparent;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;

				&:nth-child(1) {
					margin-right: 2rem;
				}

				&.active {
					background-color: var(--ash);

					svg {
						stroke: var(--white);
					}
				}

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}
