@import "#/styles/globals.module.scss";
.pageWrapper {
	// opacity: 0;
}

.content {
	padding-bottom: 20vh;
	min-height: 140vh;
	position: relative;
	padding-top: 5rem;

	.filterWrapper {
		margin-bottom: 15vh;
		position: sticky;
		top: 4rem;
		right: 4rem;
		width: 4rem;
		margin-left: auto;

		button {
			background: var(--color-blue);
			width: 4rem;
			height: 4rem;
			border: 0px;
			border-radius: 50%;
			cursor: pointer;
			z-index: 10;

			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color 200ms ease-in-out;
			margin-left: auto;
			margin-right: 4rem;

			&:hover {
				background-color: var(--dark-blue);
				box-shadow: 1px 2px 7px 1px rgb(255 255 255 / 20%);
			}

			&:focus {
				outline: 2px dotted var(--white);
			}
		}
	}

	.header {
		display: flex;
		align-items: center;
		margin-bottom: 4rem;
		justify-content: center;

		@media (min-width: $md) {
			justify-content: space-between;
			margin-left: auto;
			margin-right: auto;

			max-width: var(--mini-desktop-max-width);
		}

		@media (min-width: $xxl) {
			max-width: var(--max-width);
		}

		h2 {
			font-size: 1.6rem;
			color: var(--ash);
			font-family: sf-pro-regular;

			span {
				color: var(--white);
			}
		}
	}
}
